// vertical alignment helpers
.vertical-center--inline{
  &:before{
    content: "";
    display: inline-block;
    height: 100%;
    margin-left: -4px;
    vertical-align: middle;
  }
}

.vertical-align--middle {
  vertical-align: middle;
}

.vertical-align--bottom {
  vertical-align: bottom;
}

.vertical-align--top {
  vertical-align: top;
}

// width helpers
.full-width {
  width: 100%;
}

.small--full-width {
  @media #{$medium-max}{
    width: 100%;
  }
}

.hidden,
.hide,
.is-hidden {
  display: none;
}

// Mute an object by reducing its opacity.
//===================

.overflow-x {
  overflow-x: auto;
}

.relative{
  position: relative;
}

.clickable{
  cursor: pointer;
}

.c-f{
  clear: both;
}

.o-h{
  overflow: hidden;
}

.mobile--only{
  @media screen and (min-width: #{$screen-large} - 1) {
    display: none !important;
  }
}

.desktop--only{
  @media screen and (max-width: #{$screen-large} - 1) {
    display: none !important;
  }
}

.d-b{
  display: block;
}

.ps-r{
  position: relative;
}

.rotate-180{
  @include rotate(180deg);
  color: $brand-primary;
}

.desktop--only {
  @media #{$medium-max} {
    display: none;
  }
}

.non-desktop--only {
  @media #{$medium-min} {
    display: none;
  }
}

.tablet--only {
  @media #{$medium-min} {
    display: none;
  }

  @media #{$extra-small-max} {
    display: none
  }
}

.mobile--only {
  @media #{$extra-small} {
    display: none;
  }
}
