.text {
  &--regular {
    font-size: 13px;
    font-family: $font-secondary;
    color: $grey;
    line-height: 18px;
  }

  &--15 {
    font-size: 15px;
    font-family: $font-secondary;
    color: $grey;
  }

  &--16 {
    font-size: 16px;
    font-family: $font-secondary;
    color: $dark;
  }

  // text colors
  &--blue {
    color: $blue;
  }

  &--white {
    color: white;
  }

  &--grey {
    color: $grey;
  }
}
