.collection {
  &__list {
    margin: 0 -1.5%;

    @media #{$medium-max} {
      margin: 0 -2.5%;
    }

    @media #{$extra-small-max} {
      overflow: hidden;
      white-space: nowrap;
      height: 280px;
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__item {
    background-size: cover;
    background-position: top center;;
    width: 30%;
    padding-bottom: 30%;
    margin: 1.5%;
    display: inline-block;
    position: relative;
    cursor: pointer;

    &:hover {
      .collection-item__overlay {
        opacity: 1;
      }
    }

    @media #{$medium-max} {
      width: 45.5%;
      padding-bottom: 45.5%;
      margin: 2%;
    }

    @media #{$extra-small-max} {
      position: absolute;
      width: 80%;
      padding-bottom: 80%;
      margin: 0 10%;
    }
  }

  &-item {
    &__price {
      position: absolute;
      background-color: $brand-primary;
      padding: 2px 8px;
      right: 0;
      bottom: 22px;
      color: $dark;
      font-family: $font-secondary;
      font-size: 14px;
      font-weight: bold;

      @media #{$medium-max} {
        left: 0;
        bottom: 0;
        text-align: center;
        font-size: 18px;
        padding: 5px 0;
        background-color: rgba($brand-primary, 0.8);
      }
    }

    &__overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba($brand-primary, 0.5);
      color: rgba(#fff, 0.7);
      font-size: 70px;
      text-align: center;
      z-index: 2;
      padding: 80px 0;
      opacity: 0;

      @include transitions(0.3s);

      @media #{$medium-max} {
        padding: 110px 0;
      }
    }
  }
}
