.product {
  &__details {
    overflow: hidden;

    @media #{$medium-max} {
      position: relative;
      padding-top: 50px;
    }
  }

  &__gallery {
    width: 50%;
    margin-right: 7%;
    float: left;

    @media #{$medium-max} {
      margin-right: 4%;
    }

    @media #{$extra-small-max} {
      width: 100%;
      margin-right: 0;
      float: none;
    }

    img {
      max-width: 100%;
    }
  }

  &__info {
    width: 43%;
    float: left;

    @media #{$medium-max} {
      width: 46%;
    }

    @media #{$extra-small-max} {
      width: 85%;
      margin: 0 auto;
      float: none;
    }
  }

  &-info {
    &__title {
      text-transform: uppercase;
      color: $dark;
      font-size: 25px;
      font-weight: bold;
      line-height: 25px;
      margin-bottom: 15px;

      @media #{$medium-max} {
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    &__sku {
      font-size: 11px;
      color: $grey--light;
      font-family: $font-secondary;
      margin-bottom: 25px;
      display: inline-block;

      a {
        color: $grey--light;
      }

      @media #{$medium-max} {
        margin-bottom: 15px;
      }
    }

    &__price {
      font-size: 20px;
      font-family: $font-secondary;
      color: $dark;
      font-weight: bold;
      margin-bottom: 25px;
      display: inline-block;

      @media #{$medium-max} {
        font-size: 38px;
        margin-bottom: 15px;
        line-height: 40px;
      }
    }

    &__rating {
      display: inline-block;
    }

    &__description {
      margin: 30px 0;

      @media #{$medium-max} {
        margin: 10px 0 30px 0;
      }

      * {
        @extend .text--regular;
      }
    }
  }

  &__variants {
    display: inline-block;

    @media #{$medium-min} {
      margin-left: 10px;
    }

    @media #{$extra-small-max} {
      display: block;
      text-align: center;
    }
  }

  &-variants__title {
    @media #{$medium-max} {
      display: block;
      margin-bottom: 15px;
    }

    @media #{$extra-small-max} {
      text-align: center;
    }
  }

  &__submit {
    margin-top: 25px;

    @media #{$extra-small-max} {
      display: block;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__recomended {
    margin-top: 60px;
    position: relative;
  }

  &-recomended__title {
    @media #{$medium-max} {
      text-align: center;
    }
  }
}

.variant {
  text-align: center;
  color: $dark;
  width: 35px;
  padding: 11px 0;
  border-radius: 100%;
  border: 1px solid $grey;
  display: inline-block;
  font-size: 13px;
  line-height: 1;
  font-weight: bold;
  margin: 0 5px;

  @include transitions(0.1s);

  &:hover,
  &.active {
    background-color: $dark;
    color: #fff;
  }

  @media #{$extra-small-max} {
    margin: 0 10px;
  }

  &.disabled {
    border-color: $grey--light;
    color: $grey--light;
    cursor: default;

    &:hover {
      background: none;
      color: $grey--light;
    }
  }
}

.price--before {
  text-decoration: line-through;
  padding-right: 12px;
}

.price--discount {
  color: $fucsia;
}

// This is fix for... Guess What?... IE

.ie .product__template {
  max-width: $desktop-max;
  margin-left: auto;
  margin-right: auto;
}
