.star {
  color: $grey--light;
  cursor: pointer;
  font-size: 16px;

  @media #{$medium-max} {
    font-size: 20px;
  }

  @include transitions(0.1s);

  &:hover,
  &.active {
    color: $fucsia;
  }
}
