.share {
  &-wrapper {
    display: inline-block;
    position: relative;

    @media screen and (min-width: $screen-extra-small + 1px) and (max-width: $screen-medium + 10px) {
      width: 0.1px;
      height: 0.1px;
      position: absolute;
      left: -99999999px;
    }
  }

  &__title {
    font-weight: bold;
    cursor: pointer;
    padding-left: 15px;

    @media #{$extra-small-max} {
      display: none;
    }
  }

  &__tooltip {
    position: absolute;
    background-color: #fff;
    box-shadow: 0px -1px 10px 1px #ccc;
    width: 285px;
    left: -106px;

    @media #{$extra-small-max} {
      position: relative;
      box-shadow: none;
      left: inherit;
      width: auto;
      margin-top: 30px;
      width: 100%;
    }

    &::before {
      content: " ";
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-bottom: 7px solid #fff;
      position: absolute;
      left: 140px;
      top: -7px;

      @media #{$extra-small-max} {
        content: none;
      }
    }

    &.vanish {
      @media #{$medium-min} {
        display: none;
      }
    }
  }

  &__list {
    text-align: center;
    margin: 10px 0 20px 0;

    &--vertical {
      position: absolute;

      .share__item {
        display: block;
        margin: 10px 10px;

        &:first-child {
          margin-top: 5px;
        }
      }

      @media #{$extra-small-max} {
        display: none;
      }
    }
  }

  &__item {
    text-align: center;
    color: $blue;
    width: 35px;
    padding: 10px 0;
    border-radius: 100%;
    border: 2px solid $blue;
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    font-weight: 700;
    margin: 0 4px;
    cursor: pointer;

    @include transitions(0.1s);

    @media #{$extra-small-max} {
      margin: 6px;
    }

    &:hover,
    &:focus,
    &:active {
      color: #fff;
      background-color: $blue;
    }
  }

  &__close {
    position: absolute;
    top: 8px;
    right: 6px;
    font-size: 22px;
    line-height: 1;
    color: $blue;
    cursor: pointer;

    @media #{$extra-small-max} {
      display: none;
    }

    &:hover,
    &:focus {
      color: $grey;
    }
  }
}
