.slider {
  &-main{
    position: relative;
    background-color: #888;

    &__item {
      width: 100%;
      position: absolute;
      z-index: 10;

      @include transitions(0.5s);

      @media #{$extra-small-max} {
        opacity: 0;
      }

      &.active{
        z-index: 11;
        opacity: 1;
      }
    }
  }

  &-home {
    position: relative;
  }

  &-arrows {
    position: absolute;
    z-index: 15;
    border: 0;
    background: none;
    font-size: 45px;
    color: #5a5a5a;
    cursor: pointer;
    padding: 10px;
    top: calc(50% - 55px);

    @media #{$extra-small-max} {
      top: calc(75% - 73px);
    }

    &:hover {
      color: #888;
    }

    &--prev {
      left: 20px;
      @media #{$extra-small-max} {
        left: -20px;
      }
    }

    &--next {
      right: 20px;
      @media #{$extra-small-max} {
        right: -20px;
      }
    }
  }
}
