$blue:                   #2C87CE;
$grey:                   #282828;
$grey--light:            #ABABAB;
$dark:                   #2C303D;
$fucsia:                 #CE2C52;

$brand-primary:         #8AE6CF !default;
$brand-secondrary:      $fucsia;
$brand-default:         $brand-primary;

$border-color:          #CCCCCC;

$color-brand:           $brand-primary;

$body-bg:               #ffffff;
$link-color:            $brand-primary;
$link-hover-color:      darken($link-color, 15%); // #278b9e
$color-text-body:       #6E6A6C;

// State

$success:                #6EBB93;
