@function strip-units($number){
  @return ($number / ($number * 0 + 1));
}

//Typography
$font-primary:                     'Oswald', sans-serif;
$font-secondary:                   'Open Sans', sans-serif;
$font-monospace:                   Menlo, Monaco, "Courier New", monospace;

$golden-ratio:                      1.4;

$font-size-base:                    14px;
$em-base:                           $font-size-base;

$font-weight-light:                 300;
$font-weight-base:                  400;
$font-weight-semibold:              600;
$font-weight-bold:                  700;


$line-height-base:                  $golden-ratio;
$line-height-computed:              floor($font-size-base * $line-height-base);

$base-spacing-unit:                 $line-height-computed;
$half-spacing-unit:                 $line-height-computed / 2;

$headings-font-family:              $font-primary;
$headings-font-weight:              300;
$headings-line-height:              1.1;
$headings-color:                    inherit;

// Components
$padding-base-vertical:             6px;
$padding-base-horizontal:           12px;

$padding-large-vertical:            10px;
$padding-large-horizontal:          16px;

$padding-small-vertical:            5px;
$padding-small-horizontal:          10px;

$padding-xs-vertical:               1px;
$padding-xs-horizontal:             5px;

$line-height-large:                 1.33;
$line-height-small:                 1.6; //1.5 when fs=14px

$border-radius-base:                4px;
$border-radius-large:               5px;
$border-radius-small:               3px;

// Buttons
$btn-font-family:                 inherit; //puede ser inherit
$btn-font-weight:                 600;
$button-border-width:             1px;

$btn-default-color:               white;
$btn-default-bg:                  $brand-default;
$btn-default-border:              $brand-default;

$btn-primary-color:               white;
$btn-primary-bg:                  $color-brand;
$btn-primary-border:              $color-brand;

$btn-border-radius:             4px;

$desktop-max:                   835px;

// Media Queries and grid settings
$screen-xx-small:             	    340px!default;
$screen-extra-small:                480px!default;
$screen-small:                      690px!default;
$screen-medium:                     768px!default;
$screen-large:                      1024px!default;
$screen-extra-large:                1280px!default;

$screen:                            "screen";
$xx-small:                          "screen and (min-width: #{$screen-xx-small})";
$extra-small:                       "screen and (min-width: #{$screen-extra-small})";
$extra-small-max:                   "screen and (max-width: #{$screen-extra-small + 5})";
$small:                             "screen and (min-width: #{$screen-small})";
$medium:                            "screen and (min-width: #{$screen-medium})";
$small-max:                         "screen and (max-width: #{$screen-small})";
$medium-max:                        "screen and (max-width: #{$screen-medium + 10})";
$medium-min:                        "screen and (min-width: #{$screen-medium + 9})";
$large:                             "screen and (min-width: #{$screen-large})";
$large-max:                         "screen and (max-width: #{$screen-large})";
$extra-large:                       "screen and (min-width: #{$screen-extra-large})";
$landscape:                         "screen and (orientation: landscape)";
$portrait:                          "screen and (orientation: portrait)";


$breakpoints: (
    'large' '(min-width: #{$screen-large})',
    'medium' '(min-width: #{$screen-medium})',
    'small' '(min-width: #{$screen-small})',
    'extra-small' '(min-width: #{$screen-extra-small})'
)!default;

$breakpoint-has-widths: ('small', 'medium', 'large')!default;
$breakpoint-has-push:   ('small', 'medium', 'large')!default;
$breakpoint-has-pull:   ('small', 'medium', 'large')!default;
