.btn{
  display: inline-block;
  cursor: pointer !important;
  text-transform: uppercase;
  font-family: $font-secondary;
  font-weight: bold;
  font-size: 14px;
  padding: 15px 50px;
  border: 0;
  border-radius: 30px;
  text-align: center;
  @extend .no-selection;
  @extend .transitions-all;

  &--primary{
    color: $dark;
    background: $brand-primary;
    max-width: 250px;

    &:hover{
      background: darken($brand-primary, 15%);
      color: #fff;
    }

    &:active {
      background: darken($brand-primary, 15%);
      color: #fff;
      box-shadow: inset 0 -5px 18px -5px rgba(0,0,0,0.2)
    }
  }
}
