.title-small{
  font-size: 14px;
  font-weight: bold;
  font-family: $font-primary;
  margin: 0;
  color: $brand-primary;
}

.title-medium{
  font-size: 17px;
  font-weight: bold;
  font-family: $font-secondary;
  color: $dark;
}
