//
// Typography
// --------------------------------------------------


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6,
.alpha, .beta, .gamma, .delta, .epsilon, .zeta {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  text-rendering: optimizeLegibility;

  small,
  .small {
    font-weight: normal;
    line-height: 1;
  }
}

h1, .alpha,
h2, .beta,
h3, .gamma {
  margin-top: $base-spacing-unit;
  margin-bottom: $base-spacing-unit;
  line-height: $line-height-large;

  small,
  .small {
    font-size: 65%;
  }
}
h4, .delta,
h5, .epsilon,
h6, .zeta {
  margin-top: $half-spacing-unit;
  margin-bottom: ($base-spacing-unit / 2);
  line-height: $line-height-small;

  small,
  .small {
    font-size: 75%;
  }
}

h1, .alpha, .title-main {
  font-size: 24px;
  @media #{$medium-max} {
    font-size: 18px;
  }
  font-family: $font-primary;
  color: $grey;
  margin-top: 0;
  strong{
    font-family: $font-primary;
  }
}

p {
  color: $grey;
}

.text--regular{
  font-size: 13px;
  line-height: 18px;
  font-family: $font-primary;
  color: #646062;

}

.bold {
  font-weight: bold;
}
