@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Oswald:300,400,700");
.flex-center {
  display: -webkit-box ;
  display: -webkit-flex ;
  display: -moz-flex ;
  display: -ms-flexbox ;
  display: flex ;
  justify-content: center;
  flex-direction: column; }

/*
   http://juandresyn.com/reset-css-el-codigo-basico
   v3.5 | 20140801
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 35px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 27px; }

h4 {
  font-size: 23px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 14px; }

strong, b {
  font-weight: bold; }

p {
  font-size: 16px; }

* {
  outline: 0; }

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased; }

body {
  background-size: 100%;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.4;
  color: #6E6A6C;
  background-color: #ffffff; }

a {
  color: #8AE6CF;
  text-decoration: none; }
  a:hover, a:focus {
    color: #4bd9b5;
    text-decoration: none; }

a, button {
  cursor: pointer; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    display: inline-block; }

.no-selection, .btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.transitions-all, .btn {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.hide, .hidden,
.display-none, .d-n {
  display: none; }

.m-center {
  margin-left: auto;
  margin-right: auto; }

.select-like-input {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield; }

.has-background-image {
  background-size: cover;
  background-position: center top; }

h1, h2, h3, h4, h5, h6,
.alpha, .beta, .gamma, .delta, .epsilon, .zeta {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  line-height: 1.1;
  color: inherit;
  text-rendering: optimizeLegibility; }
  h1 small,
  h1 .small, h2 small,
  h2 .small, h3 small,
  h3 .small, h4 small,
  h4 .small, h5 small,
  h5 .small, h6 small,
  h6 .small,
  .alpha small,
  .alpha .small, .beta small,
  .beta .small, .gamma small,
  .gamma .small, .delta small,
  .delta .small, .epsilon small,
  .epsilon .small, .zeta small,
  .zeta .small {
    font-weight: normal;
    line-height: 1; }

h1, .alpha,
h2, .beta,
h3, .gamma {
  margin-top: 19px;
  margin-bottom: 19px;
  line-height: 1.33; }
  h1 small,
  h1 .small, .alpha small,
  .alpha .small,
  h2 small,
  h2 .small, .beta small,
  .beta .small,
  h3 small,
  h3 .small, .gamma small,
  .gamma .small {
    font-size: 65%; }

h4, .delta,
h5, .epsilon,
h6, .zeta {
  margin-top: 9.5px;
  margin-bottom: 9.5px;
  line-height: 1.6; }
  h4 small,
  h4 .small, .delta small,
  .delta .small,
  h5 small,
  h5 .small, .epsilon small,
  .epsilon .small,
  h6 small,
  h6 .small, .zeta small,
  .zeta .small {
    font-size: 75%; }

h1, .alpha, .title-main {
  font-size: 24px;
  font-family: "Oswald", sans-serif;
  color: #282828;
  margin-top: 0; }
  @media screen and (max-width: 778px) {
    h1, .alpha, .title-main {
      font-size: 18px; } }
  h1 strong, .alpha strong, .title-main strong {
    font-family: "Oswald", sans-serif; }

p {
  color: #282828; }

.text--regular, .product-info__description * {
  font-size: 13px;
  line-height: 18px;
  font-family: "Oswald", sans-serif;
  color: #646062; }

.bold {
  font-weight: bold; }

img {
  max-width: 100%;
  vertical-align: middle; }

img[width],
img[height] {
  max-width: none; }

.img--round {
  border-radius: 4px; }

.img--right {
  float: right;
  margin-bottom: 19px;
  margin-left: 19px; }

.img--left {
  float: left;
  margin-right: 19px;
  margin-bottom: 19px; }

.img--center {
  display: block;
  margin-right: auto;
  margin-bottom: 19px;
  margin-left: auto; }

.img--short {
  height: 95px; }

.img--medium {
  height: 190px; }

.img--tall {
  height: 285px; }

figure > img {
  display: block; }

.has-background-image {
  background-position: center;
  background-size: cover;
  transition: background 0.5s linear; }

.slide .img-cash {
  display: inline-block;
  width: 22px;
  margin-left: 5px; }

.title-small {
  font-size: 14px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  margin: 0;
  color: #8AE6CF; }

.title-medium {
  font-size: 17px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  color: #2C303D; }

.btn {
  display: inline-block;
  cursor: pointer !important;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding: 15px 50px;
  border: 0;
  border-radius: 30px;
  text-align: center; }
  .btn--primary {
    color: #2C303D;
    background: #8AE6CF;
    max-width: 250px; }
    .btn--primary:hover {
      background: #4bd9b5;
      color: #fff; }
    .btn--primary:active {
      background: #4bd9b5;
      color: #fff;
      box-shadow: inset 0 -5px 18px -5px rgba(0, 0, 0, 0.2); }

.wrapper-main {
  max-width: 835px;
  margin-left: auto;
  margin-right: auto; }

.page {
  padding: 50px 0; }

.slider-main {
  position: relative;
  background-color: #888; }
  .slider-main__item {
    width: 100%;
    position: absolute;
    z-index: 10;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    @media screen and (max-width: 485px) {
      .slider-main__item {
        opacity: 0; } }
    .slider-main__item.active {
      z-index: 11;
      opacity: 1; }

.slider-home {
  position: relative; }

.slider-arrows {
  position: absolute;
  z-index: 15;
  border: 0;
  background: none;
  font-size: 45px;
  color: #5a5a5a;
  cursor: pointer;
  padding: 10px;
  top: calc(50% - 55px); }
  @media screen and (max-width: 485px) {
    .slider-arrows {
      top: calc(75% - 73px); } }
  .slider-arrows:hover {
    color: #888; }
  .slider-arrows--prev {
    left: 20px; }
    @media screen and (max-width: 485px) {
      .slider-arrows--prev {
        left: -20px; } }
  .slider-arrows--next {
    right: 20px; }
    @media screen and (max-width: 485px) {
      .slider-arrows--next {
        right: -20px; } }

.footer-main__content {
  background-color: #EBEBEB;
  padding: 20px 0; }
  @media screen and (max-width: 778px) {
    .footer-main__content {
      padding: 20px; } }

.footer-main__copyright {
  background-color: #494949;
  padding: 20px 0;
  text-align: center; }
  .footer-main__copyright p {
    font-family: Arial, sans-serif; }

.footer-main__wrapper {
  display: -webkit-box ;
  display: -webkit-flex ;
  display: -moz-flex ;
  display: -ms-flexbox ;
  display: flex ; }
  @media screen and (max-width: 485px) {
    .footer-main__wrapper {
      -webkit-box-direction: normal;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-left: 25px;
      padding-right: 25px; } }

.footer-main__widget {
  width: 16.66%; }
  @media screen and (max-width: 485px) {
    .footer-main__widget {
      width: 100%;
      text-align: center; } }

.footer-main__list {
  padding-right: 50px; }
  @media screen and (max-width: 485px) {
    .footer-main__list {
      padding: 0; } }

.footer-main__title {
  color: #16A5C7;
  font-size: 18px;
  border-bottom: 1px solid #bbb;
  padding-bottom: 15px; }
  @media screen and (max-width: 485px) {
    .footer-main__title {
      padding: 20px 0 15px 0; } }

.footer-main__item {
  display: block;
  margin: 3px 0;
  padding: 3px 0; }

.footer-main__link {
  font-family: Arial, sans-serif; }

.collection__list {
  margin: 0 -1.5%; }
  @media screen and (max-width: 778px) {
    .collection__list {
      margin: 0 -2.5%; } }
  @media screen and (max-width: 485px) {
    .collection__list {
      overflow: hidden;
      white-space: nowrap;
      height: 280px;
      width: 100%;
      margin-left: 0;
      margin-right: 0; } }

.collection__item {
  background-size: cover;
  background-position: top center;
  width: 30%;
  padding-bottom: 30%;
  margin: 1.5%;
  display: inline-block;
  position: relative;
  cursor: pointer; }
  .collection__item:hover .collection-item__overlay {
    opacity: 1; }
  @media screen and (max-width: 778px) {
    .collection__item {
      width: 45.5%;
      padding-bottom: 45.5%;
      margin: 2%; } }
  @media screen and (max-width: 485px) {
    .collection__item {
      position: absolute;
      width: 80%;
      padding-bottom: 80%;
      margin: 0 10%; } }

.collection-item__price {
  position: absolute;
  background-color: #8AE6CF;
  padding: 2px 8px;
  right: 0;
  bottom: 22px;
  color: #2C303D;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold; }
  @media screen and (max-width: 778px) {
    .collection-item__price {
      left: 0;
      bottom: 0;
      text-align: center;
      font-size: 18px;
      padding: 5px 0;
      background-color: rgba(138, 230, 207, 0.8); } }

.collection-item__overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(138, 230, 207, 0.5);
  color: rgba(255, 255, 255, 0.7);
  font-size: 70px;
  text-align: center;
  z-index: 2;
  padding: 80px 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  @media screen and (max-width: 778px) {
    .collection-item__overlay {
      padding: 110px 0; } }

@media screen and (max-width: 778px) {
  .page {
    padding-left: 20px;
    padding-right: 20px; } }

.product__details {
  overflow: hidden; }
  @media screen and (max-width: 778px) {
    .product__details {
      position: relative;
      padding-top: 50px; } }

.product__gallery {
  width: 50%;
  margin-right: 7%;
  float: left; }
  @media screen and (max-width: 778px) {
    .product__gallery {
      margin-right: 4%; } }
  @media screen and (max-width: 485px) {
    .product__gallery {
      width: 100%;
      margin-right: 0;
      float: none; } }
  .product__gallery img {
    max-width: 100%; }

.product__info {
  width: 43%;
  float: left; }
  @media screen and (max-width: 778px) {
    .product__info {
      width: 46%; } }
  @media screen and (max-width: 485px) {
    .product__info {
      width: 85%;
      margin: 0 auto;
      float: none; } }

.product-info__title {
  text-transform: uppercase;
  color: #2C303D;
  font-size: 25px;
  font-weight: bold;
  line-height: 25px;
  margin-bottom: 15px; }
  @media screen and (max-width: 778px) {
    .product-info__title {
      position: absolute;
      left: 0;
      top: 0; } }

.product-info__sku {
  font-size: 11px;
  color: #ABABAB;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
  display: inline-block; }
  .product-info__sku a {
    color: #ABABAB; }
  @media screen and (max-width: 778px) {
    .product-info__sku {
      margin-bottom: 15px; } }

.product-info__price {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: #2C303D;
  font-weight: bold;
  margin-bottom: 25px;
  display: inline-block; }
  @media screen and (max-width: 778px) {
    .product-info__price {
      font-size: 38px;
      margin-bottom: 15px;
      line-height: 40px; } }

.product-info__rating {
  display: inline-block; }

.product-info__description {
  margin: 30px 0; }
  @media screen and (max-width: 778px) {
    .product-info__description {
      margin: 10px 0 30px 0; } }

.product__variants {
  display: inline-block; }
  @media screen and (min-width: 777px) {
    .product__variants {
      margin-left: 10px; } }
  @media screen and (max-width: 485px) {
    .product__variants {
      display: block;
      text-align: center; } }

@media screen and (max-width: 778px) {
  .product-variants__title {
    display: block;
    margin-bottom: 15px; } }

@media screen and (max-width: 485px) {
  .product-variants__title {
    text-align: center; } }

.product__submit {
  margin-top: 25px; }
  @media screen and (max-width: 485px) {
    .product__submit {
      display: block;
      width: 90%;
      margin-left: auto;
      margin-right: auto; } }

.product__recomended {
  margin-top: 60px;
  position: relative; }

@media screen and (max-width: 778px) {
  .product-recomended__title {
    text-align: center; } }

.variant {
  text-align: center;
  color: #2C303D;
  width: 35px;
  padding: 11px 0;
  border-radius: 100%;
  border: 1px solid #282828;
  display: inline-block;
  font-size: 13px;
  line-height: 1;
  font-weight: bold;
  margin: 0 5px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }
  .variant:hover, .variant.active {
    background-color: #2C303D;
    color: #fff; }
  @media screen and (max-width: 485px) {
    .variant {
      margin: 0 10px; } }
  .variant.disabled {
    border-color: #ABABAB;
    color: #ABABAB;
    cursor: default; }
    .variant.disabled:hover {
      background: none;
      color: #ABABAB; }

.price--before {
  text-decoration: line-through;
  padding-right: 12px; }

.price--discount {
  color: #CE2C52; }

.ie .product__template {
  max-width: 835px;
  margin-left: auto;
  margin-right: auto; }

.star {
  color: #ABABAB;
  cursor: pointer;
  font-size: 16px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }
  @media screen and (max-width: 778px) {
    .star {
      font-size: 20px; } }
  .star:hover, .star.active {
    color: #CE2C52; }

.share-wrapper {
  display: inline-block;
  position: relative; }
  @media screen and (min-width: 481px) and (max-width: 778px) {
    .share-wrapper {
      width: 0.1px;
      height: 0.1px;
      position: absolute;
      left: -99999999px; } }

.share__title {
  font-weight: bold;
  cursor: pointer;
  padding-left: 15px; }
  @media screen and (max-width: 485px) {
    .share__title {
      display: none; } }

.share__tooltip {
  position: absolute;
  background-color: #fff;
  box-shadow: 0px -1px 10px 1px #ccc;
  width: 285px;
  left: -106px; }
  @media screen and (max-width: 485px) {
    .share__tooltip {
      position: relative;
      box-shadow: none;
      left: inherit;
      width: auto;
      margin-top: 30px;
      width: 100%; } }
  .share__tooltip::before {
    content: " ";
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #fff;
    position: absolute;
    left: 140px;
    top: -7px; }
    @media screen and (max-width: 485px) {
      .share__tooltip::before {
        content: none; } }
  @media screen and (min-width: 777px) {
    .share__tooltip.vanish {
      display: none; } }

.share__list {
  text-align: center;
  margin: 10px 0 20px 0; }
  .share__list--vertical {
    position: absolute; }
    .share__list--vertical .share__item {
      display: block;
      margin: 10px 10px; }
      .share__list--vertical .share__item:first-child {
        margin-top: 5px; }
    @media screen and (max-width: 485px) {
      .share__list--vertical {
        display: none; } }

.share__item {
  text-align: center;
  color: #2C87CE;
  width: 35px;
  padding: 10px 0;
  border-radius: 100%;
  border: 2px solid #2C87CE;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  margin: 0 4px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }
  @media screen and (max-width: 485px) {
    .share__item {
      margin: 6px; } }
  .share__item:hover, .share__item:focus, .share__item:active {
    color: #fff;
    background-color: #2C87CE; }

.share__close {
  position: absolute;
  top: 8px;
  right: 6px;
  font-size: 22px;
  line-height: 1;
  color: #2C87CE;
  cursor: pointer; }
  @media screen and (max-width: 485px) {
    .share__close {
      display: none; } }
  .share__close:hover, .share__close:focus {
    color: #282828; }

.vertical-center--inline:before {
  content: "";
  display: inline-block;
  height: 100%;
  margin-left: -4px;
  vertical-align: middle; }

.vertical-align--middle {
  vertical-align: middle; }

.vertical-align--bottom {
  vertical-align: bottom; }

.vertical-align--top {
  vertical-align: top; }

.full-width {
  width: 100%; }

@media screen and (max-width: 778px) {
  .small--full-width {
    width: 100%; } }

.hidden,
.hide,
.is-hidden {
  display: none; }

.overflow-x {
  overflow-x: auto; }

.relative {
  position: relative; }

.clickable {
  cursor: pointer; }

.c-f {
  clear: both; }

.o-h {
  overflow: hidden; }

@media screen and (min-width: 1023px) {
  .mobile--only {
    display: none !important; } }

@media screen and (max-width: 1023px) {
  .desktop--only {
    display: none !important; } }

.d-b {
  display: block; }

.ps-r {
  position: relative; }

.rotate-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  color: #8AE6CF; }

@media screen and (max-width: 778px) {
  .desktop--only {
    display: none; } }

@media screen and (min-width: 777px) {
  .non-desktop--only {
    display: none; } }

@media screen and (min-width: 777px) {
  .tablet--only {
    display: none; } }

@media screen and (max-width: 485px) {
  .tablet--only {
    display: none; } }

@media screen and (min-width: 480px) {
  .mobile--only {
    display: none; } }

.text--regular, .product-info__description * {
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  color: #282828;
  line-height: 18px; }

.text--15 {
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  color: #282828; }

.text--16 {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #2C303D; }

.text--blue {
  color: #2C87CE; }

.text--white {
  color: white; }

.text--grey {
  color: #282828; }

.bg--white {
  background-color: #fff; }

.bg--blue {
  background-color: #8AE6CF; }

.rounded-cornes {
  border-radius: 4px; }

.bg-img-fix {
  background-size: cover;
  background-position: center; }

.p-t-20 {
  padding-top: 20px; }

.p-y-10 {
  padding-top: 10px;
  padding-bottom: 10px; }

@media screen and (max-width: 778px) {
  .mobile-m-t-0 {
    margin-top: 0 !important; }
  .mobile-m-b-0 {
    margin-bottom: 0 !important; }
  .mobile-m-r-0 {
    margin-right: 0 !important; }
  .mobile-m-l-0 {
    margin-left: 0 !important; }
  .mobile-m-y-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  .mobile-m-x-0 {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .mobile-m-t-sm {
    margin-top: 15px !important; }
  .mobile-m-b-sm {
    margin-bottom: 15px !important; }
  .mobile-m-r-sm {
    margin-right: 15px !important; }
  .mobile-m-l-sm {
    margin-left: 15px !important; }
  .mobile-m-y-sm {
    margin-top: 15px !important;
    margin-bottom: 15px !important; }
  .mobile-m-x-sm {
    margin-left: 15px !important;
    margin-right: 15px !important; }
  .mobile-m-t-md {
    margin-top: 30px !important; }
  .mobile-m-b-md {
    margin-bottom: 30px !important; }
  .mobile-m-r-md {
    margin-right: 30px !important; }
  .mobile-m-l-md {
    margin-left: 30px !important; }
  .mobile-m-y-md {
    margin-top: 30px !important;
    margin-bottom: 30px !important; }
  .mobile-m-x-md {
    margin-left: 30px !important;
    margin-right: 30px !important; } }
